.App {
  text-align: center;
}
.personRow {
  justify-content: center;
}
.personCard {
  margin: 1%;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.089);
  border: 5px solid tan;
  border-radius: 5%;
 }


.LukeSkywalker{
  background:url("./assets/LukeLightsaber.jpg");
  color:darkblue;
}
.C-3PO{
  background:url("./assets/c3po.png");
  
}
.R2-D2{
  background:url("./assets/r2d2.png");
}
.DarthVader{
  background:url("./assets/darth_vader_PNG18.png");
  color:red;
}
.LeiaOrgana{
  background:url("./assets/leia-organa-star-wars-the-clone-wars-luke-skywalker-r2-d2-wars.jpg");
}
.OwenLars{
  background:url("./assets/OwenCardTrader.png");
  color:white;
}
.BeruWhitesunlars{
  background:url("./assets/BeruCardTrader.png");
}
.R5-D4{
  background:url("./assets/R5-D4-Droidography.png");
  color:white;
}
.BiggsDarklighter{
  background:url("./assets/Biggs.png");
  color:white;
}
.Obi-WanKenobi{
  background:url("./assets/obi.jpg");
  color:darkgreen;
}
.cardclass{
  text-align: left;
  background-repeat:no-repeat;
  background-size:100% 100%;
  font-weight: bold;
  background-color: burlywood;
  background-position-x: right;
}
